html {
  height: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #19191b;
  max-width: 100%;
  min-width: 1280px;
  margin: 0 auto;

  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Global styles */

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.conteiner {
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */

.header {
  background: rgba(255, 113, 67, 0.27);
  padding: 38px 0 48px 0;

  flex: 0 0 auto;
}

.nav li {
  display: inline-block;
  margin-left: 50px;
}

.nav li:first-child {
  margin-left: 0px;
}

.nav a {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;
  color: #696871;
}

.nav a:hover,
.nav a:focus {
  color: #19191b;
  transition: 300ms;
}

.btn {
  width: 212px;
  height: 60px;
  border: none;
  border-radius: 10px;

  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #ffffff;
}

.btn-orange {
  background: #ff7143;
}

.btn-orange:hover,
.btn-orange:focus {
  cursor: pointer;
  background: #ff5319;
  transition: 300ms;
}

.main {
  flex: 1 0 auto;
}

/* Section 1 */

.section1 {
  margin-top: 104px;
  margin-bottom: 85px;
}

.section1 h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.50105px;
  max-width: 467px;
  margin-bottom: 30px;
}

.section1 p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
  max-width: 464px;
  margin-bottom: 50px;
}

.btn-blue {
  background: #5454d4;
}

.btn-blue:hover,
.btn-blue:focus {
  background: #3737d6;
  transition: 300ms;
  cursor: pointer;
}

.btn-white {
  border: 1px solid #5454d4;
  background: none;
  transition: 300ms;
  color: #5454d4;
  margin-left: 35px;
}

.btn-white:hover,
.btn-white:focus {
  background: #5454d453;
  transition: 300ms;
  cursor: pointer;
}

/* Section 2 */

.section2 {
  margin-bottom: 85px;
}

.section2 h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
  margin-bottom: 38px;
}

.section2-form {
  width: 302px;
  height: 60px;
  border: 1px solid #7087ff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 19px 14px;

  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #000000;
  margin-right: 38px;
}

.section2-form-btn {
  display: flex;
}

/* Section 3 */

.section3 {
  margin-bottom: 85px;
}

.section3 > div {
  max-width: 1070px;
  margin: 0 auto;
}

.section3 h2 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
  max-width: 504px;
  margin-bottom: 89px;
}

/* .section3-blocks {
  display: flex;
  justify-content: space-between;
} */

.section3-block {
  background: #f8f8f8;
  border: none;
  border-radius: 10px;
  width: 330px;
  padding: 34px 0;
  color: #696871;
}

.section3-block:hover,
.section3-block:focus, 
.dark-btn:hover,
.dark-btn:focus {
  background: #ff7143;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
  transition: 300ms;
  color: #ffffff;
  cursor: pointer;
}

.section3 h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.562737px;
  margin-bottom: 22px;
}

.section3 h4 {
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03448px;
  margin-bottom: 28px;
}

.section3 p {
  font-weight: 400;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.531474px;
}

.dark-btn {
  padding: 0 auto;
  width: 285px;
  background: #ffffff;
  border: 1px solid #eae9f2;
  border-radius: 10px;

  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #5454d4;
  margin-top: 36px;
  margin-left: 22px;
}

/* Footer */

.footer {
  background: rgba(255, 113, 67, 0.27);
  padding: 53px;

  flex: 0 0 auto;
}
